.center-img {
    display: inline-block;
    border: 1px solid var(--accent-color);
    padding: 3px


}
.center-txt {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#wrapper {
  text-align: left;
}