[submodule "themes/austere"]
	path = themes/austere
	url = https://github.com/tomwrw/austere-theme-zola
[submodule "themes/terminus"]
	path = themes/terminus
	url = https://github.com/ebkalderon/terminus.git
